<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>create dir</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>

  <nav>
    <form class="robots" action="/index" method="get">
      <input type="submit" name="" value="robots">
    </form>
    <form class="unemployed" action="/unemployed" method="post">
      <input type="submit" name="unemployed" value="unemployed robots">
    </form>
    <form class="employed" action="/employed" method="post">
      <input type="submit" name="employed" value="employed robots">
    </form>
  </nav>



  <div class="container">
    <div class="row">
      <div class="index-box">
        {{#model}}
        <div class="flex-percents">
          <img src="{{avatar}}" alt="">
          <div class="infoBox">
            <h2>{{name}}</h2>
            {{#job}}
            <p>{{.}}, {{company}}</p>
            {{/job}}
            {{^job}}
            <p class="orange">Available for hire</p>
            {{/job}}
          </div>
        </div>
        {{/model}}



      </div>
    </div>
  </div>


</body>
</html>
